{
  "presets": [
    [
      "babel-preset-expo",
      {
        "web": {
          "useTransformReactJSXExperimental": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./"
        }
      }
    ],
    "babel-plugin-transform-import-meta"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "babel-preset-expo",
          {
            "web": {
              "useTransformReactJSXExperimental": false
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@": "./"
            }
          }
        ],
        "babel-plugin-transform-import-meta",
        [
          "babel-plugin-transform-remove-console",
          {
            "exclude": ["error", "warn"]
          }
        ]
      ]
    },
    "web": {
      "presets": [
        [
          "babel-preset-expo",
          {
            "web": {
              "useTransformReactJSXExperimental": false,
              "disableImportExportTransform": false
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@": "./"
            }
          }
        ],
        "babel-plugin-transform-import-meta"
      ]
    }
  }
}