{
  "presets": [
    [
      "babel-preset-expo",
      {
        "jsxImportSource": "react",
        "web": {
          "useTransformReactJSXExperimental": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": ["error", "warn"] }]
      ]
    }
  }
}